.App {
  font-family: sans-serif;
  text-align: center;
}

.timeline-container h3 {
  padding: 5px;
  background-color: lightgray;
  width: 80%;
  margin: 15px auto;
}

.timeline-container.hidden {
  opacity: 0;
}

.timeline-container [data-hook="name"] {
  width: 50%;
  padding: 5px;
  margin: auto;
}

.status-bar-container {
  width: 80%;
  margin: auto;
  padding: 5px;
  background-color: wheat;
}

.status-bar-container.success {
  background-color: lightgreen;
}

.status-bar-container.failure {
  background-color: lightcoral;
}
